*{
    margin:0;
    padding:0;
}
.navbar{
    height:80px;
    width:100%;
    border:solid 1px lightgray;
    
    background-color:white;
    margin-top:0;
}

.navbar img{
    height:30px;
    width:80px;
    margin-top:1.7%;
    margin-left:2%;
    float:left;
}

.navbar div{
    margin-left:2.7%;
    float:left;
    margin-top:1.8%;
    font-weight:600;
}

.navbar-components:hover{
   text-decoration: underline;
   cursor:pointer;
   color:cadetblue
}

.login{
    border-radius:25px;
    float:right;
    margin-top:1.8%;
    margin-right:2%;
    padding:5px;
    width:80px;
    border:solid 1px black;
    background-color:white;
    text-align:center;
    cursor:pointer;
}

.login:hover{
    background-color:black;
    color:white;
    text-align:center;
}

.gettheapp{
    border-radius:25px;
    float:right;
    margin-top:1.8%;
    margin-right:2%;
    padding:5px;
    width:100px;
    border:solid 1px black;
    background-color:black;
    color:white;
    text-align:center;
    cursor:pointer;
}

.gettheapp:hover{
    background-color:white;
    color:black;
    text-align:center;
}

.all{
    font-size:60px;
    margin-left:5%;
    margin-top:5%;
    padding:0;
}

.sentence{
    margin-left:5%;
    margin-top:0%;
}