.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  margin-left:2%;
  float:right;
  width:70%;
}

.inside-box{
  
  height:260px;
  width:260px;
  
  border-radius:25px;
  float:left;
  margin-left:2%;
  margin-right:3%;
  margin-bottom:2%;
  margin-top:10%;
}

.inside-box img{
  height:100%;
  width:100%;
}

.inputuser{
  float:right;
  width:65%;
  margin-right:6%;
  margin-top:5%;
  border:none;
  border-bottom:solid 1px gray;
  outline:none;
 }

 .input:hover{
   cursor:pointer;
 }
 

 .filterborder{
    margin-top:5%;
     
     width:25%;
     float:left;
     
 }

 .category{
   margin-left:20%;
 }

 .category li{
   list-style:none;
   color:gray;
   margin-top:5%;
 }

 .category li:hover{
   text-decoration:underline;
   cursor:pointer;
 }

 .deals{
   margin-top:2%;
 }